/* =======================
 * HOME PAGE SLIDER
 * =======================
 */
.slider_style {
    width:100%;
    height:100%;

    border:3px solid black; 
    border-radius:3px;
    box-shadow: 0px 0px 15px 0px rgba(252,252,252,1);
}

.slider_fixed_code {    /* Stay on the slider always. */
    width: 100px; 
    height: 100px; 
    position: relative; 
    top: 30px; 
    left: 880px; 
    background:rgba(0,0,0,0.4);
    border-radius:5px;
    padding:10px;
    box-sizing:border-box;
    opacity:0.7;
}
