/* Global list margin. */
/*
ul li {
    margin-left:30px;
    list-style-type:circle;
}
*/

.list_header {
    font: bold 18px 'Noto Sans', sans-serif;
}

ul a {
    text-decoration:none;
}


/* Lists inside excursion text. */
.my_list_style {
    list-style-type:circle;
    margin-left:30px;
    font: 15px 'Arial', sans-serif;
}


/* Footer list */
.footer_list {
    font: 16px/22px 'Didact Gothic', sans-serif;
    display:inline-block;
    float:left;
    margin:18px 55px 0 0;
    color:#fff;
}

.footer_list a:hover {
    color:#6F5092;
}

.footer_list a {
    color:#fff;
}
