/* Contain header, footer and another css code for include to any another paged */

/* Slogan font. */
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic);

a {
    text-decoration:none;
}

header {
    margin-top:5px;
    height:100px;
    width:1024px;
    margin-left:auto;
    margin-right:auto;
}

header, .box {
    border-radius:6px;
}

footer {
    height:650px;
    background:linear-gradient( #414141, #000000);
    border-top:3px solid gray;
    box-shadow: 0px 0px 15px 0px rgba(252,252,252,1);
}

.logo {
    margin:5px;
    width:100px;
    float:left;
}

header h1, header h6 {
    position:absolute;
    margin-left:110px;
}

header h1 {
    margin-top:10px;
    margin-right:1px;
    font: 28px 'Lobster', cursive;
    margin-right:1px;
}

header h6 {
    margin-top:50px;
    font: 16px 'Lobster', cursive;
}

/* Header Text color. Header Text shadow. */
header h1, header h6 {
    color:#6F5092;
    text-shadow:2px 2px #fff; 
}

/* ====================
 * DISHES 
 * ====================
 */
.slider_dish, .services_dish {
    width:1024px;
    margin-top:4px;
    margin-left:auto;
    margin-right:auto;
}

.slider_dish {
    height:500px;
}

.services_dish {
    height:260px;
}

.services_dish .box:first-child {
    margin-left:2px;
}

.services_dish .box:nth-child(2), .services_dish .box:nth-child(3), .services_dish .box:nth-child(4) {
    margin-left:4px;
}

.footer_dish {
    width:1024px;
    margin-left:auto;
    margin-right:auto;
}

.boxes_dish {
    width:1024px;
    margin-top:2px;
    margin-bottom:2px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid black;
    background-color:rgba(204, 204, 204,0.5);
    padding-top:3px;
}

/* Content box */
.box {
    margin-top:1px;;
    height:246px;
    width:246px;
    float:left;
    border:3px solid black; 
    border-radius:3px;
    box-shadow: 0px 0px 15px 0px rgba(252,252,252,1);
    margin-left:3px;
}

/* Navigation menu position. */
header nav, .footer_dish nav {
    margin-top:30px;
    margin-right:10px;
    float:right; 
}

.bnt {
    padding:4px;
    font: 18px 'Didact Gothic', sans-serif;
    background-color:#6F5092;
    border-radius:3px;
    text-align:center;
    color:#fff;

    border:1px solid #fff;
}

nav ul li {
    display:inline-block;
}

/*
.bnt:hover{
    background-color:#956BC4;
}
*/

/*
 * =================================
 * Default text decoration for boxes
 * =================================
 */
.default_box_text_wrap {
    position:relative;
    top:168px;
    color:white;
    background:rgba(0,0,0,0.5);
    height:80px;
    box-sizing:border-box;
    text-align:center;
    font: 24px/20px 'Didact Gothic', sans-serif;

    padding-top:25px;
}

/* Hover boxes effect. */
.box:hover .default_box_text_wrap h3 {
/* color:#B293D6; */
    text-decoration:underline;
}

/*
 * ============================
 * Contact fixed button.
 * ============================
 */

.contact_cloud {
    position:fixed;
    top:40%;
    right:18px;

    width:150px;
    height:40px;
    
    border-radius:3px;
    background:rgba(0,0,0,0.6);
    
}

.contact_cloud a {
    color:#fff;
    font: 28px 'Lobster', cursive;
    padding:7px;
}

.contact_cloud a:hover {
    color:#A990C5;
}


/*
 * ===============================
 * UP / DOWN fixed scroll buttons
 * ===============================
 */
.up_down_scroll {   /* buttons container */
    height:250px;
    width:50px;
    position:fixed;
    top:50%;
    right:18px;

/*
    border:1px dotted #fff;
*/
}

.scroll_bnts {
    padding:10px;
    background:rgba(0,0,0,0.6);
    border-radius:3px;
    color:#fff;
    font-weight:bold;
    font-size:40px;
    line-height:70px;
/*
    cursor:pointer;
*/
}

.scroll_bnts:hover {
    color:#A990C5;
}

/* Section header */
.section_header {
    font: 38px 'Lobster', cursive;
/*
    margin-left:50px;
    margin-bottom:10px;
*/
    color:#6F5092;
    text-shadow:2px 2px #fff;
}

/* Dishes general container. */
.dishes_container {
    margin-left:auto;
    margin-right:auto;
    width:1024px;
    height:1700px;
}


/* footer configs */
.footer_list h3 {
    font-family:Lobster;
    font-size:22px;
    border-bottom:2px solid #fff;
    margin-bottom:5px;
}
