.button_bar {
    margin-top:18px;
    margin-bottom:10px;

/*
    border:1px solid black;
*/
}

.button_bar ul {
    margin-left:60px;
}

.button_bar li {
    display:inline-block;
}

.button_bar a {
    display:block;
    width:200px;
    height:40px;
    font:18px/37px 'Lobster', sans-serif;
    text-align:center;
    border-radius:4px;
    background: linear-gradient(#A396C3, #6F5092);
    color:#fff;
}

.button_bar a:hover {
    background: linear-gradient(#6F5092, #A396C3);
}
