.ex_content_dish {
    width:790px;
    height:1538px;
    margin-left:auto;
    margin-right:auto;
    background:url(../pics/bgs/list_bg.png);
    padding:15px;
    box-sizing:border-box;
    border:1px solid black;
}

.excursion_top_pic {
    float:left;
    margin-right:15px;
    margin-bottom:5px;
}

.excursion_text {
    text-align:justify;
    font: 18px 'Arial', sans-serif;
    line-height:24px;
}

.photo_gallery {
    margin-top:20px;
    padding-left:3px;
    box-sizing:border-box;
}

.preview_gallery_pic {
    width:185px;
    height:185px;
}

.preview_image_link {   /* Remove space between images in the gallery. */
    float:left;
    border-right:3px solid #fff;
}

.middle_container {
    height:20px;
    margin-top:5px;
}

.was_taken_from {
    float:right;
    font: italic bold 10px/20px Arial, serif;
    color:gray;
}
.was_taken_from a {
    text-decoration:none;
    color:gray;
}

.v_menu_button {
    border-top:1px solid black;
    height:35px;
    font: 18px/32px 'Arial', sans-serif;
    color:#fff;
    padding-left:5px;
}

.v_menu_button:hover {
    background:#6F5092;
}

.vertical_menu_header {
    margin-top:30px;
    margin-bottom:10px;
    font: 24px 'Lobster', cursive;
    color:#6F5092;
    text-shadow:2px 2px #fff;
    text-align:center;
    line-height:18px;
}

.excursion_content_dish {
    float:right;
    border:1px solid black;
    background-color:rgba(204, 204, 204,0.5);
    width:800px;
    height:1600px;
}

.v_menu_dish {
    width:218px;
    height:1600px;
    float:left;
    border:1px solid black;
    background-color:rgba(204, 204, 204,0.5);
}

.info_content {     /* inline hidden content */
    height:400px;   /* set height for bg */
    width:600px;
    padding:10px; 
    font: 18px 'Didact Gothic', sans-serif;
    background:url(../pics/bgs/list_bg.png);
}
