.image_transition_default {
    position: absolute; 
}

.transition_text_style {
    font: bold 38px/30px Lobster, sans-serif;
    color:#fff;
}

.slider_text_wrap {
    border:1px solid black;
    width:1012px;
    height:59px;
    background-color:rgba(0, 0, 0, 0.6);
    padding-top:12px;
    padding-left:40px;
}

/* Image 1 */
.image1_transition_1 {
    top:80px; 
    left: 60px; 
}

.image1_transition_2 {
    top:80px;
    left: 220px; 
    color:#fff;
}

/* IMAGE 2 */
.image2_transition_1 {
    top: 400px; 
    left: 60px; 
}

.image2_transition_2 {
    top: 400px; 
    left: 150px; 
}

/* Image 3 */
.image3_transition_1 {
    top: 100px; 
    left: 60px; 
}
.image3_transition_2 {
    top: 100px; 
    left: 250px; 
}
.image3_transition_3 {
    top: 150px; 
    left: 60px; 
}
.image3_transition_4 {
    top: 150px; 
    left: 220px; 
}

/* Image 4 */
.image4_transition_1 {
    top:60px;
    left:60px;
}
.image4_transition_2 {
    top:60px;
    left:160px;
}

/* IMAGE 5 */
.image5_transition_1 {
    top:430px;
}

/* Image 6 */
.image6_transition_1 {
    top:420px;
    left:600px;
}
.image6_transition_2 {
    top:420px;
    left:700px;
}

/* Image 7 */
.image7_transition_1 {
    top:60px;
    left:100px;
}
.image7_transition_2 {
    top:100px;
    left:200px;
}

/* Image 9 */
.image9_transition_1 {
    top:60px;
    left:300px;
}
.image9_transition_2 {
    top:60px;
    left:500px;
}
.image9_transition_3 {
    top:100px;
    left:500px;
}
.image9_transition_4 {
    top:100px;
    left:660px;
}
