/* NAVIGATION STYLES */
/* BULLET Navigation Skin. */
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av
{
    background: url(../slider-master/img/b21.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}

.jssorb21 div { 
    background-position: -5px -5px; 
}
.jssorb21 div:hover, .jssorb21 .av:hover { 
    background-position: -35px -5px; 
}
.jssorb21 .av { 
    background-position: -65px -5px; 
}
.jssorb21 .dn, .jssorb21 .dn:hover { 
    background-position: -95px -5px; 
}

/*******************************************/


/* ARROW Navigation Skin. */
.jssora06l, .jssora06r, .jssora06ldn, .jssora06rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../slider-master/img/a06.png) no-repeat;
    overflow:hidden;
}

.jssora06l { background-position: -8px -38px; }
.jssora06r { background-position: -68px -38px; }
.jssora06l:hover { background-position: -128px -38px; }
.jssora06r:hover { background-position: -188px -38px; }
.jssora06ldn { background-position: -248px -38px; }
.jssora06rdn { background-position: -308px -38px; }

/*******************************************/
