table tr th {
    border-bottom:1px solid #B2B2B2;
    border-right:1px solid #B2B2B2;

    font: 18px/18px Arial, sans-serif;
    padding:5px;
}

table tr th:last-child {
    border-right:none;
/*
    background:black;
*/
}

.last_table_row th {
    border-bottom:none;
}

table tr:nth-child(even) {
    background-color:#cccccc;
}

table tr th:last-child:hover .hidden_content {
    display:block;
}
