
<!-- HOME PAGE TOP PART BEGIN -->
        <header id='header'> <!-- Logo -->
            <a href='./home'>
                <img id='logo' src='media/pics/logos/compass.png' alt='Отдых в сочи экскурсии в сочи'/>
            </a>
            <!-- Slogans -->
            <h1>Отдых в Сочи, Экскурсии в Сочи.</h1>
            <h6>Полезная и интересная информация о городе Сочи.</h6>

            <!-- Weather -->
            <div id='weather_block'>
                <span><code>${weather_temp}°C</code> ${weather_cond}</span><br/>
                <span>Температура воды: <code>${water_temp}</code></span>
            </div>

        </header>
	
<!-- HOME PAGE TOP PART END -->
