
<!-- Geneal page begin -->

        <div id='slider_wrap'>

            <div id="slider1_container" style="position:relative; width: 1010px; height: 485px; margin-top:10px; margin-left:1px;">
                <!-- Loading Screen -->
                    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                        <!-- your loading screen content here -->
                        <img src='media/pics/loading45.gif' width='550' height='400' alt='Отдых в сочи экскурсии в сочи'/>
                    </div>

                <!-- Slides Container -->
                <div data-u="slides" class='slider_style' > 
                    <!-- IMAGES BEGIN -->

                    <div>   <!-- Image 1 -->
                        <img data-u="image" src="media/pics/slideshow/1.jpg" width="1000" height="500" alt='Экскурсии в Сочи'/> 

                        <div data-u='caption' data-t='transition_1' class='image_transition_default image1_transition_1'>
                            <span class='transition_text_style'>Агурские</span>
                        </div>
                        <div data-u='caption' data-t='transition_1' class='image_transition_default image1_transition_2'>
                            <span class='transition_text_style'>Водопады</span>
                        </div>
                    </div>
                    

                    <div>   <!-- Image 2 -->
                        <img data-u="image" src="media/pics/slideshow/2.jpg" width="1000" height="500" alt='Экскурсии в Сочи'/>

                        <div data-u='caption' data-t='transition_3' class='image_transition_default image2_transition_1'>
                            <span class='transition_text_style'>Гора</span>
                        </div>
                        <div data-u='caption' data-t='transition_3' class='image_transition_default image2_transition_2'>
                            <span class='transition_text_style'>Ахун</span>
                        </div>
                    </div>

                    <div>   <!-- Image 3 -->
                        <img data-u="image" src="media/pics/slideshow/3.jpg" width="1000" height="500" alt='Экскурсии в Сочи'/>

                        <div data-u="caption" data-t="transition_2" class='image_transition_default image3_transition_1'>
                            <span class='transition_text_style'>Экскурсии</span>
                        </div>
                        <div data-u="caption" data-t="transition_2" class='image_transition_default image3_transition_2'>
                            <span class='transition_text_style'>на</span>
                        </div>
                        <div data-u="caption" data-t="transition_2" class='image_transition_default image3_transition_3'>
                            <span class='transition_text_style'>Красную</span>
                        </div>
                        <div data-u="caption" data-t="transition_2" class='image_transition_default image3_transition_4'>
                            <span class='transition_text_style'>Поляну</span>
                        </div>

                    </div>

                    <div>   <!-- image 4 -->
                        <img data-u="image" src="media/pics/slideshow/4.jpg" width="1000" height="500" alt='Экскурсии в Сочи' />

                        <div data-u="caption" data-t="transition_3" class='image_transition_default image4_transition_1'>
                                <span class='transition_text_style'>Парк</span>
                        </div>
                        <div data-u="caption" data-t="transition_3" class='image_transition_default image4_transition_2'>
                                <span class='transition_text_style'>Сочи</span>
                        </div>
                    </div>

                    <div>   <!-- image 5 -->   
                        <img data-u="image" src="media/pics/slideshow/5.jpg" width="1000" height="500" alt='Экскурсии в Сочи'/>

                        <div data-u="caption" data-t="transition_4" class='image_transition_default image5_transition_1'>
                            <div class='slider_text_wrap'>
                                <span class="transition_text_style">Олимпийский парк</span>
                            </div>
                        </div>
                    </div>

                    <div>   <!-- image 6 -->
                        <img data-u="image" src="media/pics/slideshow/6.jpg" width="1000" height="500" alt='Экскурсии в Сочи'/>
                        
                        <div data-u='caption' data-t='transition_1' class='image_transition_default image6_transition_1'>
                                <span class='transition_text_style'>Дача</span>
                        </div>

                        <div data-u='caption' data-t='transition_1' class='image_transition_default image6_transition_2'>
                                <span class='transition_text_style'>Сталина</span>
                        </div>
                    </div>

                    <div>   <!-- Image 7 -->
                        <img data-u="image" src="media/pics/slideshow/7.jpg" width="1000" height="500" alt='Экскурсии в Сочи'/>

                        <div data-u='caption' data-t='transition_3' class='image_transition_default image7_transition_1'>
                            <span class='transition_text_style'>Новоафонский</span>
                        </div>
                        <div data-u='caption' data-t='transition_3' class='image_transition_default image7_transition_2'>
                            <span class='transition_text_style'>Монастырь</span>
                        </div>
                    </div>

                    <div> <!-- Image 8 -->
                        <img data-u="image" src="media/pics/slideshow/8.jpg" width="1000" height="500" alt='Экскурсии в Сочи'/>

                        <div data-u="caption" data-t="transition_4" class='image_transition_default image5_transition_1'>
                            <div class='slider_text_wrap'>
                                <span class="transition_text_style">Озеро Рица</span>
                            </div>
                        </div>

                    </div>

                    <div>   <!-- Image 9 -->
                        <img data-u="image" src="media/pics/slideshow/9.jpg" width="1000" height="500" alt='Экскурсии в Сочи'/>

                        <div data-u='caption' data-t='transition_2' class='image_transition_default image9_transition_1'>
                                <span class="transition_text_style">Экскурсии</span>
                        </div>
                        <div data-u='caption' data-t='transition_2' class='image_transition_default image9_transition_2'>
                                <span class="transition_text_style">по</span>
                        </div>
                        <div data-u='caption' data-t='transition_2' class='image_transition_default image9_transition_3'>
                                <span class="transition_text_style">ночному</span>
                        </div>
                        <div data-u='caption' data-t='transition_2' class='image_transition_default image9_transition_4'>
                                <span class="transition_text_style">городу</span>
                        </div>

                    </div>
                    <!-- IMAGES END-->

                    <!-- Fixed code on the slide BEGIN. -->
                    <div data-u="any" class='slider_fixed_code'>
                        <img src="http://api.qrserver.com/v1/create-qr-code/?color=000000&amp;bgcolor=FFFFFF&amp;data=http%3A%2F%2Fgrand-sochi.ru&amp;qzone=1&amp;margin=0&amp;size=80x80&amp;ecc=L" alt="qr code" width="80" height="80" />
                    </div>
                    <!-- Fixed code on the slide BEGIN. -->

                </div> <!-- slides end -->

                <!-- BULLET Navigation Skin BEGIN -->
                <!-- bullet navigator container -->
                <div data-u="navigator" class="jssorb21" style="position: absolute; bottom: 456px; left: 426px;">
                    <!-- bullet navigator item prototype -->
                    <div data-u="prototype" style="POSITION: absolute; WIDTH: 19px; HEIGHT: 19px; text-align:center; line-height:19px; color:Red; font-size:12px;"></div>
                </div>
                <!-- BULLET Navigation Skin END-->


                <!-- ARROW Navigation Skin BEGIN -->
                <!-- Arrow Left -->
                <span data-u="arrowleft" class="jssora06l" style="width: 45px; height: 45px; top: 220px; left: 8px;">
                </span>
                <!-- Arrow Right -->
                <span data-u="arrowright" class="jssora06r" style="width: 45px; height: 45px; top: 220px; right: 0px">
                </span>
                <!-- ARROW Navigation Skin END -->

            </div>
        </div>  
        <!-- Slider End -->

        <!-- Search bar -->
        <form id='search_bar' method='GET' action='/full_search'>
            <input id='search_field' required autocomplete='off' onfocusout='hide_search_results()' type='text' name='patt' placeholder='Поиск экскурсии или достопримечательности...' onkeyup='search_content()'/>
            <input id='search_button' type='submit' value='Найти' />
            <div id='search_result'>
                <ul>
                </ul>
            </div>
        </form>


        <!-- PREFACE -->
        <div id='preface'>
            <p><strong>Экскурсии в Сочи</strong>, <strong>экскурсии в Абхазию</strong>, <strong>Экскурсии на Красную Поляну</strong> или в любую другую точку Большого Сочи. Для индивидуальных экскурсии в ваше распоряжение будут предоставлены комфортные 8-местные автомобили с персональным водителем, гидом-экскурсоводом, переводчиком. Для групповых экскурсий в Сочи предоставляются автобусы большой вместимости. Минимальная цена поездки - <strong>500 рублей</strong> с человека. <a onclick='toggleFrame("contacts_wrap")'>Звоните!</a></p>
        </div>
        <!-- PREFACE/ -->


        <!-- SERVICES BEGIN -->

        <section class='boxes_dish'>

            <a href='./ekskursii-v-sochi' rel='next'>
                <div style='background:url(media/pics/front_sprite.jpg) 250px 0px' class='box'>
                    <div><h2>Экскурсии по Большому Сочи</h2></div>
                </div>
            </a>

            <a href='./otdyh-v-sochi' rel='next'>
                <div style='background:url(media/pics/front_sprite.jpg) -250px 0px' class='box '>
                    <div><h2 class='short_box_text'>Отдых в Сочи</h2></div>
                </div>
            </a>

            <a href='./dostoprimecatelnosti-v-sochi' rel='next'>
                <div style='background:url(media/pics/front_sprite.jpg) 0px 0px' class='box '>
                    <div><h2 class='long_box_text'>Достопримечательности<br>Сочи</h2></div>
                </div>
            </a>

            <a href='./oteli-v-sochi' rel='next'>
                <div style='background:url(media/pics/front_sprite.jpg) 500px 0px' class='box '>
                    <div><h2 class='short_box_text'>Гостиницы</h2></div>
                </div>
            </a>

        </section>

        <!-- SERVICES END -->

</div><!--/main-->

 <!-- General page end -->
