	<!-- contema -->
	<div class='promo_baner'>
		<script type="text/javascript" src="http://j.contema.ru/Contema.js"></script>
		<script type="text/javascript">Contema.load(3145,{adv_format : "banner",adv_size : 1});</script>
        </div>
	<!-- /contema -->

