
<!-- DEFAULT BODY BEGIN -->

        <header id='header'> <!-- Logo -->
            <a href='./home'>
                <img id='logo' src='media/pics/logos/compass.png' alt='Отдых в сочи экскурсии в сочи'/>
            </a>

            <!-- Slogans -->
            <h1>Отдых в Сочи, Экскурсии в Сочи.</h1>
            <h6>Полезная и интересная информация о городе Сочи.</h6>

            <!-- Naviagation -->
            <nav class='buttons_navigation'>
                <ul>
                    <li><a href='./home'>Главная</a></li>
                    <li><a href='./ekskursii-v-sochi'>Экскурсии</a></li>
                    <li><a href='./otdyh-v-sochi'>Отдых</a></li>
                    <li><a href='./dostoprimecatelnosti-v-sochi'>Места</a></li>
                </ul>
            </nav>


        </header>

<!-- DEFAULT BODY END -->
