
        <!-- page begin -->

        <section class='boxes_dish'>

            <h2 class='section_header'>Экскурсии по городу Сочи</h2>
            
            <div class='boxes_row'>
                    <a href='./33-vodopada'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) 0px 250px' class='box'>
                            <div><h2 class='short_box_text'>33 <span class='boxes_font'>В</span>одопада</h2></div>
                        </div>
                    </a>

                    <a href='./volkonskij-dolmen'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) 250px 500px' class='box'>
                            <div><h2><span class='boxes_font'>В</span>олконский дольмен</h2></div>
                        </div>
                    </a>


                    <a href='./agurskie-vodopady'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) 500px 500px' class='box'>
                            <div><h2>Агурские водопады</h2></div>
                        </div>
                    </a>

                    <a href='./gora-ahun'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) -260px 500px' class='box '>
                            <div><h2 class='short_box_text'>Гора <q>Ахун</q></h2></div>
                        </div>
                    </a>
            </div>

            <div class='boxes_row'>

                    <a href='./dacha-stalina'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) -5px 500px' class='box '>
                            <div><h2 class='short_box_text'>Дача <span class='boxes_font'>С</span>талина</h2></div>
                        </div>
                    </a>

                    <a href='./vecernij-ahun'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) 250px 750px' class='box '>
                            <div><h2 class='short_box_text'><span class='boxes_font'>В</span>ечерний Ахун</h2></div>
                        </div>
                    </a>

                    <a href='./voroncovskie-pesery'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) -510px 750px' class='box '>
                            <div><h2><span class='boxes_font'>В</span>оронцовские пещеры</h2></div>
                        </div>
                    </a>

                    <a href='./zmejkovskie-vodopady'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) -260px 750px' class='box '>
                            <div><h2>Змейковские водопады</h2></div>
                        </div>
                    </a>

            </div>

            <div class='boxes_row'>
   
                    <a href='./obezjannij-pitomnik'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) 0px 750px' class='box '>
                            <div><h2>Обезьяний питомник</h2></div>
                        </div>
                    </a>
           
                    <a href='./zenskij-monastyr'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) 250px -500px' class='box '>
                            <div><h2>Женский монастырь</h2></div>
                        </div>
                    </a>
           
                    <a href='./adlerskij-okeanarium'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) 500px -500px' class='box '>
                            <div><h2>Адлерский океанариум</h2></div>
                        </div>
                    </a>
           
                    <a href='./adlerskij-delfinarij'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) -255px -505px' class='box '>
                            <div><h2>Адлерский дельфинарий</h2></div>
                        </div>
                    </a>

            </div>

            <div class='boxes_row'>
   
                    <a href='./tiso-samsitovaja-rosa'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) 0px -500px' class='box '>
                            <div><h2 class='middle_box_text'>Тисо-самшитовая<br>роща</h2></div>
                        </div>
                    </a>
           
                    <a href='./cajnye-domiki'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) 250px -250px' class='box '>
                            <div><h2 class='short_box_text'>Чайные домики</h2></div>
                        </div>
                    </a>
           
                    <a href='./olimpijskij-park'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) 500px -250px' class='box '>
                            <div><h2>Олимпийский парк</h2></div>
                        </div>
                    </a>
           
                    <a href='./ozera-ljubvi'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) -255px -250px' class='box '>
                            <div><h2 class='short_box_text'>Озёра любви</h2></div>
                        </div>
                    </a>

            </div>
   

            <div class='boxes_row'>

                    <a href='./derevo-druzby'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) 0px -250px' class='box '>
                            <div><h2 class='short_box_text'>Дерево дружбы</h2></div>
                        </div>
                    </a>
           
                    <a href='./park-sochi'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) 250px 0px' class='box '>
                            <div><h2 class='short_box_text'>Парк Сочи</h2></div>
                        </div>
                    </a>
           
                    <a href='./v-gostjah-u-pasecnika'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) 500px 0px' class='box '>
                            <div><h2>В гостях у пасечника</h2></div>
                        </div>
                    </a>
           
                    <a href='./orehovskie-vodopady'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) -260px 0px' class='box '>
                            <div><h2>Ореховские водопады</h2></div>
                        </div>
                    </a>

            </div>

            <div class='boxes_row'>
   
                    <a href='./soloh-aul'>
                        <div style='background:url(media/pics/excursions/sochi_sprite.jpg) -5px 0px' class='box '>
                            <div><h2 class='short_box_text'>Солох-Аул</h2></div>
                        </div>
                    </a>

            </div>

        </section>




        
        <div class='promo_baner'>
                <script type="text/javascript" src="http://j.contema.ru/Contema.js"></script>
                <script type="text/javascript">Contema.load(3145,{adv_format : "banner",adv_size : 1});</script>
        </div>





        <section class='boxes_dish'>

            <h2 class='section_header'>Экскурсии на Красной поляне</h2>

            <div class='boxes_row'>

                    <a href='./poselok-krasnaja-poljana'>
                        <div style='background:url(media/pics/excursions/krasnaya_polyana_sprite.jpg) 0px -500px' class='box '>
                            <div><h2>Посёлок<br><q>Красная Поляна</q></h2></div>
                        </div>
                    </a>

                    <a href='./forelevoe-hozjajstvo'>
                        <div style='background:url(media/pics/excursions/krasnaya_polyana_sprite.jpg) 250px -250px' class='box '>
                            <div><h2>Форелевое хозяйство</h2></div>
                        </div>
                    </a>

                    <a href='./splav-po-mzymte'>
                        <div style='background:url(media/pics/excursions/krasnaya_polyana_sprite.jpg) 500px -250px' class='box '>
                            <div><h2>Сплав<br>по Мзымте</h2></div>
                        </div>
                    </a>


                    <a href='./sou-stekloduvov'>
                        <div style='background:url(media/pics/excursions/krasnaya_polyana_sprite.jpg) -255px -250px' class='box '>
                            <div><h2>Шоу<br>Стеклодувов</h2></div>
                        </div>
                    </a>

            </div>

            <div class='boxes_row'>

                    <a href='./roza-hutor'>
                        <div style='background:url(media/pics/excursions/krasnaya_polyana_sprite.jpg) 0px -250px' class='box '>
                            <div><h2 class='short_box_text'>Роза Хутор</h2></div>
                        </div>
                    </a>

                    <a href='./gorod-gorki'>
                        <div style='background:url(media/pics/excursions/krasnaya_polyana_sprite.jpg) 250px 0px' class='box '>
                            <div><h2 class='short_box_text'>Горки город</h2></div>
                        </div>
                    </a>

                    <a href='./gornaja-karusel'>
                        <div style='background:url(media/pics/excursions/krasnaya_polyana_sprite.jpg) 500px 0px' class='box '>
                            <div><h2 class='short_box_text'>Горная карусель</h2></div>
                        </div>
                    </a>

                    <a href='./vodopad-stany'>
                        <div style='background:url(media/pics/excursions/krasnaya_polyana_sprite.jpg) -255px 0px' class='box '>
                            <div><h2 class=''><span class='boxes_font'>В</span>одопад<br>«Штаны»</h2></div>
                        </div>
                    </a>    

            </div>

            <div class='boxes_row'>

                    <a href='./vodopad-devici-slezy'>
                        <div style='background:url(media/pics/excursions/krasnaya_polyana_sprite.jpg) -5px 0px' class='box '>
                            <div><h2><span class='boxes_font'>В</span>одопад<br>«Девичьи слёзы»</h2></div>
                        </div>
                    </a>
            </div>

        </section>





        <section class='boxes_dish'>

            <h2 class='section_header'>Экскурсии в Абхазию</h2>

            <div class='boxes_row'>

                    <a href='./ozero-rica'>
                        <div style='background:url(media/pics/excursions/abkhazia_sprite.jpg) 245px 250px' class='box '>
                            <div><h2 class='short_box_text'>Озеро «Рица»</h2></div>
                        </div>
                    </a>

                    <a href='./novoafonskij-monastyr'>
                        <div style='background:url(media/pics/excursions/abkhazia_sprite.jpg) 500px 250px' class='box '>
                            <div><h2>Новоафонский монастырь</h2></div>
                        </div>
                    </a>

                    <a href='./novoafonskaja-pesera'>
                        <div style='background:url(media/pics/excursions/abkhazia_sprite.jpg) -250px 250px' class='box '>
                            <div><h2>Новоафонская пещера</h2></div>
                        </div>
                    </a>

                    <a href='./gagra'>
                        <div style='background:url(media/pics/excursions/abkhazia_sprite.jpg) 0px 250px' class='box '>
                            <div><h2 class='short_box_text'>Гагра</h2></div>
                        </div>
                    </a>

            </div>

            <div class='boxes_row'>

                    <a href='./picunda'>
                        <div style='background:url(media/pics/excursions/abkhazia_sprite.jpg) 250px 0px' class='box '>
                            <div><h2 class='short_box_text'>Пицунда</h2></div>
                        </div>
                    </a>

                    <a href='./suhum'>
                        <div style='background:url(media/pics/excursions/abkhazia_sprite.jpg) 500px 0px' class='box '>
                            <div><h2 class='short_box_text'>Сухум</h2></div>
                        </div>
                    </a>

                    <a href='./hram-simona-kananita'>
                        <div style='background:url(media/pics/excursions/abkhazia_sprite.jpg) -250px 0px' class='box '>
                            <div><h2>Храм Симона Кананита</h2></div>
                        </div>
                    </a>

                    <a href='./po-svjatym-mestam'>
                        <div style='background:url(media/pics/excursions/abkhazia_sprite.jpg)' class='box '>
                            <div><h2>По святым местам</h2></div>
                        </div>
                    </a>

            </div>


        </section>

</div><!--/main-->


<!-- BODY END-->
