
<!-- FOOTER BEGIN -->
<!-- FOOTER WITH EXCURSION LIST -->

<footer id='footer'>

            <div id='footer_center'>

                <div id='footer_head'>

                        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                            <img alt="Лицензия Creative Commons" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
                        </a>

	


			<!-- Rating@Mail.ru logo -->
			<a href="http://top.mail.ru/jump?from=2658191">
			<img src="//top-fwz1.mail.ru/counter?id=2658191;t=479;l=1" 
			style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" /></a>
			<!-- //Rating@Mail.ru logo -->




			<!-- Yandex.Metrika informer -->
			<a href="https://metrika.yandex.ru/stat/?id=24973271&amp;from=informer"
			target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/24973271/2_1_FFFFFFFF_EFEFEFFF_0_pageviews"
			style="width:80px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" onclick="try{Ya.Metrika.informer({i:this,id:24973271,lang:'ru'});return false}catch(e){}"/></a>
			<!-- /Yandex.Metrika informer -->



                        <nav class='buttons_navigation'>
                            <ul>
                                <li><a href='./home'>Главная</a></li>
                                <li><a href='./ekskursii-v-sochi'>Экскурсии</a></li>
                                <li><a href='./otdyh-v-sochi'>Отдых в Сочи</a></li>
                                <li><a href='./dostoprimecatelnosti-v-sochi'>Места</a></li>
                                <li><a href='./oteli-v-sochi'>Гостиницы</a></li>
                            </ul>
                        </nav>

                </div>


                <div id='footer_lists'>

                        <section class='footer_list'>
                            <h3>Экскурсии в Сочи</h3>
                            <ul> 
                                <li><a href='./33-vodopada'>33 водопада</a></li>
                                <li><a href='./volkonskij-dolmen'>Волконский дольмен</a></li>
                                <li><a href='./agurskie-vodopady'>Агурские водопады</a></li>
                                <li><a href='./gora-ahun'>Гора Ахун</a></li>
                                <li><a href='./dacha-stalina'>Дача Сталина</a></li>
                                <li><a href='./vecernij-ahun'>Вечерний Ахун</a></li>
                                <li><a href='./voroncovskie-pesery'>Воронцовские пещеры</a></li>
                                <li><a href='./zmejkovskie-vodopady'>Змейковские водопады</a></li>
                                <li><a href='./obezjannij-pitomnik'>Обезьяний питомник</a></li>
                                <li><a href='./zenskij-monastyr'>Женский монастырь</a></li>
                                <li><a href='./adlerskij-okeanarium'>Адлерский океанариум</a></li>
                                <li><a href='./adlerskij-delfinarij'>Адлерский дельфинарий</a></li>
                                <li><a href='./tiso-samsitovaja-rosa'>Тисо-самшитовая роща</a></li>
                                <li><a href='./cajnye-domiki'>Чайные домики</a></li>
                                <li><a href='./olimpijskij-park'>Олимпийский парк</a></li>
                                <li><a href='./ozera-ljubvi'>Озёра любви</a></li>
                                <li><a href='./derevo-druzby'>Дерево дружбы</a></li>
                                <li><a href='./park-sochi'>Парк Сочи</a></li>
                                <li><a href='./v-gostjah-u-pasecnika'>В гостях у пасечника</a></li>
                                <li><a href='./orehovskie-vodopady'>Ореховские водопады</a></li>
                                <li><a href='./soloh-aul'>Солох-Аул</a></li>
                            </ul>
                        </section>


                        <section class='footer_list'>
                            <h3>Экскурсии на Красной поляне</h3>
                            <ul> 
                                <li><a href='./poselok-krasnaja-poljana'>Посёлок Красная поляна</a></li>
                                <li><a href='./forelevoe-hozjajstvo'>Форелевое хозяйство</a></li>
                                <li><a href='./splav-po-mzymte'>Сплав по Мзымте</a></li>
                                <li><a href='./sou-stekloduvov'>Шоу стеклодувов</a></li>
                                <li><a href='./roza-hutor'>Роза Хутор</a></li>
                                <li><a href='./gorod-gorki'>Горки Город</a></li>
                                <li><a href='./gornaja-karusel'>Горная карусель</a></li>
                                <li><a href='./vodopad-stany'>Водопад "Штаны"</a></li>
                                <li><a href='./vodopad-devici-slezy'>Водопад "Девичьи Слёзы"</a></li>
                            </ul>
                        </section>

                        <section class='footer_list'>
                            <h3>Экскурсии в Абхазии</h3>
                            <ul> 
                                <li><a href='./ozero-rica'>Озеро Рица</a></li>
                                <li><a href='./novoafonskij-monastyr'>Новоафонский монастырь</a></li>
                                <li><a href='./novoafonskaja-pesera'>Новоафонская пещера</a></li>
                                <li><a href='./gagra'>Гагра</a></li>
                                <li><a href='./picunda'>Пицунда</a></li>
                                <li><a href='./suhum'>Сухум</a></li>
                                <li><a href='./hram-simona-kananita'>Храм Симона Кананита</a></li>
                                <li><a href='./po-svjatym-mestam'>По святым местам</a></li>
                            </ul>
                        </section>

                </div>


		<!-- footer buttons -->
		<div id='footer_social_buttons'>
			<script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus,surfingbird" data-yashareTheme="counter"></div>
		</div>

	   </div>

        </footer>



<!-- #### OLD INTERNET EXPLORERS #### -->
<div id="old_explorers">
    <p>Need to update your browser....</p>
    <p>Данный сайт поддерживает Internet Explorer 9 или выше. Ваш браузер устарел и нуждается в обновлении....</p>
    <ul>
            <li><a href="https://www.mozilla.org/">Firefox</a></li>
            <li><a href="http://www.google.com/chrome/">Chrome</a></li>
            <li><a href="http://www.opera.com/">Opera</a></li>
            <li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer</a></li>
    </ul>
    
</div>


    </body>
</html>

