
<!-- FIXED BUTTONS BEGIN -->

        <!-- FIXED BUTTONS -->
        <ul id='fixed_buttons'>
            <li><a href='/prices'>Цены</a></li>
            <li><a onclick='toggleFrame("contacts_wrap")'>Контакты</a></li>
            <li><a onclick='toggleFrame("order_form_wrap")'>Задать вопрос</a></li>
        </ul>



        <!-- FIXED CONTENT BEGIN -->
        <div id="contacts_wrap">    <!-- HIDDEN DIV wiht contacts. -->

            <button title='Закрыть' onclick='frames.parent.toggleFrame("contacts_wrap")'>x</button>
            <h3>Контакты.</h3>

            <div> 
                <p>
                    Если Вы хотите отправиться на экскурсию, звоните нам:<br/>

                    <img src='media/pics/mts.png' alt='mts'/> +7 918 902 67 62<br/>
                    <img src='media/pics/beeline.png' alt='beeline'/> +7 962 888 18 95<br/><br/>

                    А также Вы можете связаться с нами по e-mail:<br/>
                    <a href="mailto:arinmaks@mail.ru">arinmaks&#64;mail&#46;ru</a>
                </p>
            </div>
        </div>


        <!-- ORDER FORM -->
        <div id="order_form_wrap">

            <button title='Закрыть' onclick='frames.parent.toggleFrame("order_form_wrap")'>x</button>
            <h3>Пожалуйста заполните все поля, в ближайшее время мы с Вами свяжемся.</h3>

            <form action='send_email' id='order_form' method='post'>
                <label>Ваше имя:</label>
                <input type='text' name='user_name' />
                <br/>

                <label>Ваша почта:</label>
                <input type='email' name='user_postal' />
                <br/>

                <label>Текст сообщения:</label>
                <textarea rows='10' cols='68' name='user_text' placeholder='Пожалуйста опишите куда Вы хотите отправиться и дату вашей поездки.' ></textarea>
                <!--input type='button' onclick='checkForm()' value='Отправить'/-->
                <input type='button' onclick='send_email()' value='Отправить'/>
            </form>

        </div>

        <!-- FIXED CONTENT END-->


        <!-- UP/DOWN BUTTONS -->
        <div id='scroll_buttons_wrap'>
            <div onclick='scrollWin("up")'></div>
            <div onclick='scrollWin("down")'></div>
        </div>
        <!-- UP/DOWN BUTTONS END -->

<!-- FIXED BUTTONS END -->
