        <!-- page begin -->

        <!--section style='height:1326px;' class='boxes_dish'-->
        <section class='boxes_dish' style=''>
            <h2 class='section_header'>Гостиницы и отели.</h2>

	    <div style='width:1000px;' >


<ins class="bookingaff" data-aid="835714" data-target_aid="835708" data-prod="sbp" data-width="1000" data-height="300" data-lang="ru" data-currency="RUB" data-cc1="ru">
    <!-- Anything inside will go away once widget is loaded. -->
    <a href="//www.booking.com?aid=835708">Booking.com</a>
</ins>
<script type="text/javascript">
    (function(d, sc, u) {
      var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = u + '?v=' + (+new Date());
      p.parentNode.insertBefore(s,p);
      })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
</script>


	    <!-- HOTELS -->
            <iframe width='100%' height='3490px' src='./hotels.html'></iframe>

	    </div>

            <!--p style='font:bold 128px Arial, sans-sefif; text-align:center; color:black; opacity:0.5; text-shadow: 2px 2px 30px #fff'>under construction</p-->

        </section>

</div>

        <!-- page end -->


