
<!-- BODY CONTENT BEGIN -->

        <section id='prices_article_wrap'>

	    <h2>Цены на экскурсии</h2> <!-- article title -->

            <div id='article2'> 

		<!--p style='font: italic 14px Arial; color:#b2b2b2; float:right; margin-bottom:10px;'>Обновленно: 16.06.2015</p-->

		<p style='font: italic bold 12px Arial'>*- стоимость в графе "цена" узакана за предоставление транспортных услуг и проведение экскурсии. В графе "доп расходы" указана стоимость расходов которые оплачиваются непосредственно на экскурсионном объекте.</p>

		<p style='font: italic 14px Arial; color:#b2b2b2; float:right; margin-bottom:10px;'>Обновленно: 16.06.2015</p>

                <table style='width:100%; margin-top:10px;'>
                    <tr> 
                        <th>Экскурсия</th>
                        <th>Время<br>(часов)</th>
                        <th>Дни<br>недели</th>
                        <th>Цена</th>
                        <th>Доп. расходы</th>
                    </tr>
                    <tr>
                        <th>Красная поляна, олимпийские объекты</th>
                        <th>9</th>
                        <th>Ежедневно</th>
                        <th>800</th>
                        <th style=''>
                            <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>

                            <!-- hidden content -->
                            <div class='hidden_content'>
                                <p>Канатная дорога:<br> Роза хутор - 1000р.<br> Газпром - 800р.<br> Город горки - 800р.<br> Детский - 700р.  Инвалиды 1, 2 группы - 700р<br> </p>
                            </div>

                        </th> 
                    </tr>

                    <tr>
                        <th>33 Водопада</th>
                        <th>7</th>
                        <th>Вт. Чт. Пт.</th>
                        <th>750</th>
                        <th>
                            <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>

                            <!-- hidden content -->
                            <div class='hidden_content'>
                                <p>Вход - 100р. <br>Переправа - 250р.</p>
                            </div>

                        </th> 
                    </tr>
                    <tr>
                        <th>33 Водопада, Волконский Дольмен</th>
                        <th>8</th>
                        <th>Вс</th>
                        <th>800</th>
                        <th>
                            <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                                        
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>Вход - 100р. <br>Переправа - 250р.</p>
                            </div>
                        </th> 
                    </tr>
                    <tr>
                        <th>33 Водопада Ночное шоу</th>
                        <th>9</th>
                        <th>Пн. ср. сб.</th>
                        <th>800</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                                        
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>530 - концертная программа.</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Аквапарк Лоо</th>
                        <th>7</th>
                        <th>Вт. Чт.</th>
                        <th>500</th>
                        <th>
		  	    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                                        
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>Вход - 1000р.</p>
                            </div>

                        </th>
                    </tr>
                    <tr>
                        <th>Золотое кольцо Абхазии:<br> Н. Афон, Гагра, Рица, Пицунда</th>
                        <th>14</th>
                        <th>Ежедневно</th>
                        <th>300</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                                        
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>500р - вход в пещеры.</br>300р - Рица.</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Гагра, Пицунда, Рица</th>
                        <th>14</th>
                        <th>Вт. Чт. Сб.</th>
                        <th>300</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Гагра, Н. Афон</th>
                        <th>14</th>
                        <th>Ср. Пт. Вс</th>
                        <th>300</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>По святым местам</th>
                        <th>14</th>
                        <th>Вс</th>
                        <th>300</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Гагра, Н. Афон</th>
                        <th>14</th>
                        <th>Ср.</th>
                        <th>300</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Гора Ахун, дегустация вин</th>
                        <th>4</th>
                        <th>Пн. Ср. Чт. Сб. Вс.</th>
                        <th>600</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                                        
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>100р - проход на башню<br>100р. - вход в Агурское ущелье</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Гора Ахун, Тисо-самшитовая роща</th>
                        <th>4</th>
                        <th>Вт. Пт.</th>
                        <th>600</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                                        
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>100р - проход на башню<br>150р. - вход в Тисо-самшитовую рощу</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Вечерний Ахун</th>
                        <th>4</th>
                        <th>Вс.</th>
                        <th>500</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Сочи Парк</th>
                        <th>6</th>
                        <th>Чт.</th>
                        <th>500</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>

                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>1000р - аттракционы.</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Вечерний Олимпийский Парк</th>
                        <th>4</th>
                        <th>Пн. Ср. Чт. Сб.</th>
                        <th>600</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Ледовое шоу, Олимпийский Парк</th>
                        <th>6</th>
                        <th>Вт. Пт. Вс.</th>
                        <th>700</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Сплав по Мзымте</th>
                        <th>5-6</th>
                        <th>Пн. Ср. Чт. Сб.</th>
                        <th>500</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>400р.</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Адлерский дельфинарий</th>
                        <th>4</th>
                        <th>Ср. Сб. Вс.</th>
                        <th>400</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>500р. - вход</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Адлерский океанариум</th>
                        <th>4</th>
                        <th>Ср. Сб. Вс.</th>
                        <th>500</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Адлерский океанариум, Аквариум</th>
                        <th>5</th>
                        <th>Пт</th>
                        <th>500</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Форелевое хозяйство, Шоу стеклодувов</th>
                        <th>4</th>
                        <th>Ср. Сб.</th>
                        <th>600</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>150р - вход в форелевое хозяйство</br>250р - шоу стеклодувов.</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>В гостях у пасечника</th>
                        <th>4</th>
                        <th>Ср. Сб.</th>
                        <th>600</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>200р. - вход на пасеку.</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Чайные домики</th>
                        <th>4</th>
                        <th>Пт.</th>
                        <th>600</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>350р. - вход по будням<br>500р. - вход по пятницам</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Воронцовские пещеры</th>
                        <th>5</th>
                        <th>Вт. Сб.</th>
                        <th>700</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>450р. - вход в пещеру</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Женский монастырь</th>
                        <th>5</th>
                        <th>Пн. Чт.</th>
                        <th>700</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Дача Сталина</th>
                        <th>4</th>
                        <th>Пн.</th>
                        <th>550</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>150р. - вход</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Обзорная по городу, Дерево дружбы, Дендрарий</th>
                        <th>4</th>
                        <th>Пн.</th>
                        <th>600</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>150р - вход в сад.</br>250р - вход в Дендрарий.</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Обезьяний питомник</th>
                        <th>5</th>
                        <th>Вс.</th>
                        <th>700</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Озёра любви</th>
                        <th>4-6</th>
                        <th>Пн. Чт.</th>
                        <th>600</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>100р - вход на объект</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Озёра любви, баня, пикник</th>
                        <th>5-6</th>
                        <th>Пн. Чт.</th>
                        <th>600</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Змейковские водопады</th>
                        <th>4</th>
                        <th>Пн.</th>
                        <th>450</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>100р - вход на объект</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Пешеходные экскурсии</th>
                        <th></th>
                        <th>Пн. - Сб.</th>
                        <th>200</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Конные прогулки</th>
                        <th>3</th>
                        <th>Ежедневно</th>
                        <th>200</th>
                        <th>
		            <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>1000р - прогулка на коне. </p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Прогулки на квадроциклах</th>
                        <th>4</th>
                        <th>Ежедневно</th>
                        <th>250</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>1850р. - за рулём. <br/>500р. - как пассажир.</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Джипинг</th>
                        <th></th>
                        <th>Ежедневно</th>
                        <th>300</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>2500р. - с человека.</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Дайвинг</th>
                        <th></th>
                        <th>Ежедневно</th>
                        <th>400</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>1400р. - </p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Джиппинг Гегский водопад, оз. Рица</th>
                        <th></th>
                        <th>Ежедневно</th>
                        <th>300</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>300р - Рица.<br/>2000р - джиппин.</p>
                            </div>
			</th>
                    </tr>
                    <tr>
                        <th>VIP Джиппинг по Сочи или Абхазии </th>
                        <th></th>
                        <th>Ежедневно</th>
                        <th>500/1000</th>
                        <th>
			    <img class='pointer_img' src='media/pics/pointer.png' alt='Доп расходы'/>
                            <!-- hidden content -->
                            <div class='hidden_content'> 
                                <p>1500 пол дня<br/>4000 весь день</p>
                            </div>
			</th>
                    </tr>
                    <tr>
                        <th>Прогулка на яхте</th>
                        <th></th>
                        <th>Ежедневно</th>
                        <th>100</th>
                        <th></th>
                    </tr>
                    <tr class='last_table_row'>
                        <th>Рыбалка на яхте</th>
                        <th></th>
                        <th>Ежедневно</th>
                        <th>200</th>
                        <th></th>
                    </tr>
                </table>



	    </div>

	</section>

</div><!--/main/-->


<!-- BODY CONTENT END -->
