
        <!-- page begin -->

        <section class='boxes_dish'>

            <h2 class='section_header'>Центральный район</h2>

            <div class='boxes_row'>

                    <a href='./dendrarij'>
                        <div style='background:url(media/pics/rest/sochi_center_sprite.jpg) -500px 250px' class='box'>
                            <div><h2 class='short_box_text'>Дендрарий</h2></div>
                        </div>
                    </a>

                    <a href='./park-rivera'>
                        <div style='background:url(media/pics/rest/sochi_center_sprite.jpg) -250px 250px' class='box'>
                            <div><h2>Парк<br>«Ривьера»</h2></div>
                        </div>
                    </a>

                    <a href='./festivalnyj'>
                        <div style='background:url(media/pics/rest/sochi_center_sprite.jpg) 0px 250px' class='box'>
                            <div><h2>Концертный зал «Фестивальный»</h2></div>
                        </div>
                    </a>

                    <a href='./akvapark-majak'>
                        <div style='background:url(media/pics/rest/sochi_center_sprite.jpg) 250px 0px' class='box'>
                            <div><h2>Аквапарк<br>«Маяк»</h2></div>
                        </div>
                    </a>
            </div>

            <div class='boxes_row'>

                    <a href='./circus'>
                        <div style='background:url(media/pics/rest/sochi_center_sprite.jpg) 500px 0px' class='box'>
                            <div><h2 class='short_box_text'>Цирк</h2></div>
                        </div>
                    </a>

                    <a href='./sinee-more'>
                        <div style='background:url(media/pics/rest/sochi_center_sprite.jpg) -250px 0px' class='box'>
                            <div><h2>Ресторан<br>«Синее море»</h2></div>
                        </div>
                    </a>
                    <a href='./plotforma'>
                        <div style='background:url(media/pics/rest/sochi_center_sprite.jpg)' class='box'>
                            <div><h2>Клуб «PLOTFORMA»</h2></div>
                        </div>
                    </a>
            </div>

        </section>


        <div class='promo_baner'>
                <script type="text/javascript" src="http://j.contema.ru/Contema.js"></script>
                <script type="text/javascript">Contema.load(3145,{adv_format : "banner",adv_size : 1});</script>
        </div>


        <section class='boxes_dish'>

            <h2 class='section_header'>Адлер</h2>

            <div class='boxes_row'>

                    <a href='./sajba'>
                        <div style='background:url(media/pics/rest/adler_sprite.jpg) 250px 250px' class='box'>
                            <div><h2>Ледовая арена «Шайба»</h2></div>
                        </div>
                    </a>

                    <a href='./bolsoj'>
                        <div style='background:url(media/pics/rest/adler_sprite.jpg) 500px 250px' class='box'>
                            <div><h2>Ледовый дворец «Большой»</h2></div>
                        </div>
                    </a>

                    <a href='./iceberg'>
                        <div style='background:url(media/pics/rest/adler_sprite.jpg) -250px 250px' class='box'>
                            <div><h2>Дворец зимнего спорта «Айберг»</h2></div>
                        </div>
                    </a>

                    <a href='./adler-arena'>
                        <div style='background:url(media/pics/rest/adler_sprite.jpg) 0px 250px' class='box'>
                            <div><h2 class='long_box_text'>Конькобежный центр «Адлер-Арена»</h2></div>
                        </div>
                    </a>

            </div>

            <div class='boxes_row'>

                    <a href='./akvapark-amfibius'>
                        <div style='background:url(media/pics/rest/adler_sprite.jpg) 250px 0px' class='box'>
                            <div><h2>Аквапарк «Амфибиус»</h2></div>
                        </div>
                    </a>

                    <a href='./strausinaja-ferma'>
                        <div style='background:url(media/pics/rest/adler_sprite.jpg) 500px 0px' class='box'>
                            <div><h2>Страусиная ферма</h2></div>
                        </div>
                    </a>

                    <a href='./ledjanoj-kub'>
                        <div style='background:url(media/pics/rest/adler_sprite.jpg) -250px 0px' class='box'>
                            <div><h2 class='long_box_text'>Керлинговый центр «Ледяной куб»</h2></div>
                        </div>
                    </a>

                    <a href='./adlerskij-park'>
                        <div style='background:url(media/pics/rest/adler_sprite.jpg)' class='box'>
                            <div><h2>Адлерский парк культуры</h2></div>
                        </div>
                    </a>
            </div>

        </section>


        <section class='boxes_dish'>

            <h2 class='section_header'>Хоста</h2>

            <div class='boxes_row'>

                    <a href='./serebrjannoe-ozero'>
                        <div style='background:url(media/pics/rest/khosta_sprite.jpg) 250px 0px' class='box'>
                            <div><h2>Серебряное озеро</h2></div>
                        </div>
                    </a>

                    <a href='./promitey'>
                        <div style='background:url(media/pics/rest/khosta_sprite.jpg) 500px 0px' class='box'>
                            <div><h2>Орлинные скалы <br>«К Прометею»</h2></div>
                        </div>
                    </a>

                    <a href='./certovy-vorota'>
                        <div style='background:url(media/pics/rest/khosta_sprite.jpg) -250px 0px' class='box'>
                            <div><h2>«Чертовы ворота»</h2></div>
                        </div>
                    </a>

                    <a href='./navalisenskoe-usele'>
                        <div style='background:url(media/pics/rest/khosta_sprite.jpg)' class='box'>
                            <div><h2>Навалищенское ущелье</h2></div>
                        </div>
                    </a>

            </div>

        </section>


        <section class='boxes_dish'>

            <h2 class='section_header'>Красная поляна</h2>

            <div class='boxes_row'>

                    <a href='./volernyj-kompleks'>
                        <div style='background:url(media/pics/rest/krasnaya_polyana_sprite.jpg) -500px 0px' class='box'>
                            <div><h2 class='long_box_text'><span class='boxes_font'>В</span>ольерный комплекс Кавказского завпаведника</h2></div>
                        </div>
                    </a>

                    <a href='./hmelevskie-ozera'>
                        <div style='background:url(media/pics/rest/krasnaya_polyana_sprite.jpg) -250px 0px' class='box'>
                            <div><h2>Хмелевские озёра</h2></div>
                        </div>
                    </a>

                    <a href='./ahstyrskij-kanon'>
                        <div style='background:url(media/pics/rest/krasnaya_polyana_sprite.jpg)' class='box'>
                            <div><h2>Ахштырский каньон</h2></div>
                        </div>
                    </a>

                    <a href=""><div class='box empty_box'></div></a>
            </div>

        </section>


        <section class='boxes_dish'>

            <h2 class='section_header'>Лазаревский район</h2>

            <div class='boxes_row'>

                    <a href='./akva-loo'>
                        <div style='background:url(media/pics/rest/lazarevsky_sprite.jpg) 250px 0px' class='box'>
                            <div><h2>Комплекс «АкваЛоо»</h2></div>
                        </div>
                    </a>

                    <a href='./banja-v-dagomyse'>
                        <div style='background:url(media/pics/rest/lazarevsky_sprite.jpg)' class='box'>
                            <div><h2 class='short_box_text'>Баня</h2></div>
                        </div>
                    </a>
                    
                    <a href=""><div class="box empty_box"></div></a>
                    <a href=""><div class="box empty_box"></div></a>

            </div>

        </section>

</div><!--/main-->


