
        <!-- page begin -->

        <section class='boxes_dish'>

            <h2 class='section_header'>Центральный район</h2>

            <div class="boxes_row">

                    <a href='./morport'>
                        <div style='background:url(media/pics/sights/sochi_center_sprite.jpg) 0px 250px' class='box'>
                            <div><h2>Морской<br>вокзал</h2></div>
                        </div>
                    </a>

                    <a href='./primorskaja-nabereznaja'>
                        <div style='background:url(media/pics/sights/sochi_center_sprite.jpg) 250px 500px' class='box'>
                            <div><h2>Приморская набережная</h2></div>
                        </div>
                    </a>

                    <a href='./socinskij-majak'>
                        <div style='background:url(media/pics/sights/sochi_center_sprite.jpg) -500px 500px' class='box'>
                            <div><h2>Сочинский<br>маяк</h2></div>
                        </div>
                    </a>

                    <a href='./zimnij-teatr'>
                        <div style='background:url(media/pics/sights/sochi_center_sprite.jpg) -250px 500px' class='box'>
                            <div><h2>Зимний<br>театр</h2></div>
                        </div>
                    </a>
            </div>


            <div class="boxes_row">

                    <a href='./pamjatnik-jakor-i-puska'>
                        <div style='background:url(media/pics/sights/sochi_center_sprite.jpg) 0px 500px' class='box'>
                            <div><h2>Памятник<br>«Якорь и пушка»</h2></div>
                        </div>
                    </a>

                    <a href='./muzej-istorii-sochi'>
                        <div style='background:url(media/pics/sights/sochi_center_sprite.jpg) 250px -250px' class='box'>
                            <div><h2>Музей истории Сочи</h2></div>
                        </div>
                    </a>

                    <a href='./biblioteka-imeni-puskina'>
                        <div style='background:url(media/pics/sights/sochi_center_sprite.jpg) -500px -250px' class='box'>
                            <div><h2>Библиотека им. А.С.Пушкина</h2></div>
                        </div>
                    </a>

                    <a href='./letnij-teatr'>
                        <div style='background:url(media/pics/sights/sochi_center_sprite.jpg) -250px -250px' class='box'>
                            <div><h2>Летний<br>театр</h2></div>
                        </div>
                    </a>

            </div>


            <div class="boxes_row">

                    <a href='./hudozestvennyj-muzej'>
                        <div style='background:url(media/pics/sights/sochi_center_sprite.jpg) 0px -250px' class='box'>
                            <div><h2>Художественный<br>музей</h2></div>
                        </div>
                    </a>

                    <a href='./zeleznodoroznyj-vokzal'>
                        <div style='background:url(media/pics/sights/sochi_center_sprite.jpg) 250px 0px' class='box'>
                            <div><h2 class='long_box_text'>Железнодорожный<br>вокзал</h2></div>
                        </div>
                    </a>

                    <a href='./skulptury-iz-filma-brilliantovaja-ruka'>
                        <div style='background:url(media/pics/sights/sochi_center_sprite.jpg) 500px 0px' class='box'>
                            <div><h2 class='long_box_text'><span class='boxes_font'>С</span>кульптуры из фильма<br>«Бриллиантовая рука»</h2> </div>
                        </div>
                    </a>

                    <a href='./cerkov-imeni-svjatogo-vladimira'>
                        <div style='background:url(media/pics/sights/sochi_center_sprite.jpg) -250px 0px' class='box'>
                            <div><h2 class='long_box_text'>Церковь имени<br><span class='boxes_font'>С</span>вятого <span class='boxes_font'>В</span>ладимира</h2></div>
                        </div>
                    </a>

            </div>

            <div class="boxes_row">

                    <a href='./glavpoctampt'>
                        <div style='background:url(media/pics/sights/sochi_center_sprite.jpg)' class='box'>
                            <div><h2 class='short_box_text'>Главпочтамт</h2></div>
                        </div>
                    </a>
            </div>

        </section>



	<div class='promo_baner'>
                <script type="text/javascript" src="http://j.contema.ru/Contema.js"></script>
                <script type="text/javascript">Contema.load(3145,{adv_format : "banner",adv_size : 1});</script>
        </div>




        <section class='boxes_dish'>

            <h2 class='section_header'>Адлер</h2>

            <div class="boxes_row">

                    <a href='./mezdunarodnyj-aeroport'>
                        <div style='background:url(media/pics/sights/adler_sprite.jpg) -500px 0px' class='box'>
                            <div><h2>Международный аэропорт</h2></div>
                        </div>
                    </a>

                    <a href='./adlerskij-zeleznodoroznyj-vokzal'>
                        <div style='background:url(media/pics/sights/adler_sprite.jpg) -250px 0px' class='box'>
                            <div><h2 class='long_box_text'>Адлерский<br>железнодорожный вокзал</h2></div>
                        </div>
                    </a>

                    <a href='./adlerskij-majak'>
                        <div style='background:url(media/pics/sights/adler_sprite.jpg)' class='box'>
                            <div><h2>Адлерский<br>маяк</h2></div>
                        </div>
                    </a>

                    <a href=""><div class="box empty_box"></div></a>

            </div>

        </section>


        <section class='boxes_dish'>

            <h2 class='section_header'>Хоста</h2>

            <div class="boxes_row">

                    <a href='./macestinskij-most'>
                        <div style='background:url(media/pics/sights/khosta_sprite.jpg) 250px 0px' class='box'>
                            <div><h2>Мацестинский мост</h2></div>
                        </div>
                    </a>

                    <a href='./macesta'>
                        <div style='background:url(media/pics/sights/khosta_sprite.jpg) 500px 0px' class='box'>
                            <div><h2 class='short_box_text'>Мацеста</h2></div>
                        </div>
                    </a>

                    <a href='./pamjatnik-maceste'>
                        <div style='background:url(media/pics/sights/khosta_sprite.jpg) -250px 0px' class='box'>
                            <div><h2>Памятник Мацесте</h2></div>
                        </div>
                    </a>
                    <a href='./macestinskij-istocnik'>
                        <div style='background:url(media/pics/sights/khosta_sprite.jpg)' class='box'>
                            <div><h2>Мацестинский источник</h2></div>
                        </div>
                    </a>
            </div>

        </section>


        <section class='boxes_dish'>

            <h2 class='section_header'>Лазаревский район</h2>

            <div class="boxes_row">

                    <a href='./tjulpanovoe-derevo'>
                        <div style='background:url(media/pics/sights/lazarevsky_sprite.jpg) 250px 0px' class='box'>
                            <div><h2>Тюльпановое дерево</h2></div>
                        </div>
                    </a>

                    <a href='./usadba-kosmana'>
                        <div style='background:url(media/pics/sights/lazarevsky_sprite.jpg) -250px 0px' class='box'>
                            <div><h2>Усадьба «Кошмана»</h2></div>
                        </div>
                    </a>

                    <a href='./kompleks-dagomys'>
                        <div style='background:url(media/pics/sights/lazarevsky_sprite.jpg)' class='box'>
                            <div><h2>Комплекс «Дагомыс»</h2></div>
                        </div>
                    </a>

                    <a href=""><div class="box empty_box"></div></a>
            </div>

        </section>

</div><!--/main-->


