#menu_wrap, #article_wrap {

    border:1px solid black;
    background-color:rgba(204, 204, 204,0.6);
    box-shadow: 0px 0px 15px 0px rgba(252,252,252,1);
    width:20%;
    float:left;
}

#menu_wrap h6 {
    text-align:center;
    font: bold 1.2em 'Comfortaa';
    color:#6F5092;
    text-shadow:2px 2px #fff;
    /*background-color: rgba(255, 255, 255, 0.4 );*/
}
#menu_wrap ul {
    background: #fff url(../pics/bgs/list_bg.png);
    margin:5px;
    border: 1px solid #000;
}
#menu_wrap li {
    border:1px solid #000;
    text-align:center;
}
#menu_wrap a {
    padding:5px 2px;
    display:block;
    font: bold 0.8em Comfortaa;
    text-decoration:none;
    color:#6F5092;
}
#menu_wrap li:hover a{
    background-color: #6F5092;
    color:#fff;
}

.current_article>a {
    background-color: #6F5092;
    color:#fff !important;
}


/* =======
 * Article
 * =======
 */
#article_wrap {
    width:78%;
    margin-left:0.4%;
}
#article_wrap>h2 {
    font: 2.5em 'Lobster', cursive;
    color:#6F5092;
    text-shadow:2px 2px #fff;
    margin-left:30px;

    display:inline-block;
}

#article {
    background: #fff url(../pics/bgs/list_bg.png);
    margin:5px;
    border: 1px solid #000;
    padding:15px;
}
/*
#article>img {
    float:left;
}
#article p {
    font:italic 1.1em Arial;
    text-align:justify;
}
#article p:first-child:first-letter {
    font:italic 2em Lobster;
}
#cap_first_letter:first-letter {
    font:italic 2em Lobster;
}
*/
#article #text_area {
    font:italic 1.1em Arial;
    text-align:justify;
}



/* =============
 * Photo gallery
 * =============
 */
#photo_gallery {
    font-size:0;
}
#photo_gallery a>img {
    width:186px;
    height:186px;
    margin:0 0.2% 0.2% 0;
}




/* ===============
 * Article buttons
 * ===============
 */
#article_buttons {
   margin:15px 0;
}
#article_buttons ul {
    list-style-type:none;
    display:table;
    border-collapse:separate;
    border-spacing:3px;
    margin:0 auto;
}
#article_buttons ul li {
    display:table-cell;
}
#article_buttons .bnt {
    font: bold 1.3em Lobster;
    background-color: #6F5092;
    color:#fff;
    border:0;
    cursor:pointer;

    margin:0;
    padding:8px;

    text-decoration:none;
    box-sizing:border-box;
}
#article_buttons .bnt:hover {
   background-color:#9b70cc;
}
#article_buttons button:focus+.contacts_wrap {
    display:block;
}




#middle_container {
    position:relative;
    height:25px;
}
#middle_container h6 {
    position:absolute;
    right:5px;
    font:italic 0.8em Tahoma;
}
#middle_container h6>a {
    color:gray;
}



/****** ARTICLE SOCIAL BUTTONS. *****/
#article_social_buttons {
    margin-top:15px;
    margin-right:10px;
    float:right;
}


/****** COMMENTS ******/
.comments_header {
    margin:15px 0 15px 0;
    font: 24px 'Lobster';
}
#article_comment {
    background:rgba(180,180,180, 0.5);
    padding:5px;
    font: italic 16px Arial;
    margin-top:5px;
}
#article_comment span:first-child {
    font-weight:bold;
}
#article_comment span:nth-child(2) {
    font: italic 14px Arial;
}
/**********************/

/** ADD comment form **/
#add_comment label {
    display:block;
    margin-top:5px;
}
#add_comment input[type=button] {
    display:block;
}

/**********************/

