@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=cyrillic-ext,latin);
