body {
    padding:10px;
    font-family:Arial;
}

#close_button {
    float:right;
    border:1px solid black;
    width:30px;
    text-align:center;
    line-height:30px;
    border-radius:50%;
    font-weight:bold;
}
#close_button:hover {
    color:violet;
    border:1px solid violet;
    cursor:pointer;
}
