#slider_wrap {
    width:100%;
    margin:-15px auto 30px;
}


/* =======================
 * HOME PAGE SLIDER
 * =======================
 */
.slider_style {
    position:relative;
    width:1014px;   /* need */
    height:492px;
    border:3px solid black; 
    border-radius:3px;
    box-shadow: 0px 0px 15px 0px rgba(252,252,252,1);
}

.slider_fixed_code {    /* Stay on the slider always. */
    width: 100px; 
    height: 100px; 
    position: relative; 
    top: 30px; 
    left: 880px; 
    background:rgba(0,0,0,0.4);
    border-radius:5px;
    padding:10px;
    box-sizing:border-box;
    opacity:0.7;
}

/* PREFACE TEXT */
#preface {
    border:3px solid white;
    border-radius:5px;
    padding:8px;
    background:rgba(0,0,0,0.6);
}
#preface p {
    font: 24px Lobster;
    color:white;
    text-align:justify;
}
#preface p a {
    color:red;
    cursor:pointer;
}
#preface p a:hover {
    text-decoration:underline;
}


/*====== SEARCH BAR ======== */
#search_bar {
    margin:5px auto;
    width:650px;
}
#search_bar input, #search_button {
    display:inline-block;
    font: 24px 'Lobster', 'sans-serif';
}
#search_field {
    height:40px;
    width:550px;
}
#search_button {
    border-radius:5px;
    height:45px;
    cursor:pointer;
    border:1px solid white;
    padding:0 5px 0 5px;
    line-height:45px;

    background-color:#6F5092;
    color:#fff;
}
#search_button:hover {
    box-shadow: 0px 0px 15px 0px rgba(252,252,252,1);
    background-color: #9b70cc;
}

#search_result {
    width:550px;
    z-index:10;
    position:absolute;
    background:#fff;
    margin-top:2px;
    border:1px solid black;
    visibility:hidden;
}
#search_result ul li {
    font: 20px 'Lobster', 'sans-serif';
    border-bottom:1px solid grey;
    padding-left:5px;
}
#search_result ul li:hover {
    background-color: #9b70cc;
}
#search_result ul li:hover a {
    color:#fff;
}
#search_result ul li a {
    display:block;
    color:#6F5092;
    text-decoration:none;
}
/*========================== */
