@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */  
    body {
/*
        background-image: url(../pics/bgs/ie_bg.jpg) !important;
*/
        background-image: url(../pics/bgs/green_ie_bg.jpg) !important;
        background-repeat: repeat !important;
        background-size:200px 200px !important;
    }

    
    .buttons_navigation>ul>li>a {   
        font:bold 1.2em/2em Arial, 'sans-serif';
    }
    

    /* TEXT size in boxes is different for IE. */
    .box>div>h3 {   /* Default text in boxes. */
        font: bold 1.7em/1.2em 'Comfortaa', cursive;
    }
    .box>div>.short_box_text {
        font: bold 1.8em/2.2em 'Comfortaa', cursive;
    }
    .box>div>.long_box_text {
        letter-spacing:-2px;
        font: bold 1.3em/1.8em 'Comfortaa', cursive;
    }
    .box>div>.middle_box_text {
        font: bold 1.6em/1.4em 'Comfortaa', cursive;
    }
}
