html, body {
    height:100%;
    font-family:Arial, sans-serif;
    min-height:100%;
}

/* MAIN PAGE LAYOUT. */
#main {
    width:1024px;
    min-height:100%;
    margin:0 auto -600px;
    padding:0 0 600px;
    box-sizing:border-box;
}

header {
    height:100px;
    position:relative;
}

/* Buttons position and size on header. */
header .buttons_navigation {
    width:40%;
    display:inline-block;
    /*float:right;*/

    position:absolute;
    top:16px;
    right:5px;
}

footer {
    height:620px;
    background:linear-gradient( #414141, #000000);
    border-top:3px solid gray;
    box-shadow: 0px 0px 15px 0px rgba(252,252,252,1);
    clear:both;
    min-width:1024px;
    overflow:hidden;
}

#footer_center {
    width:1024px;
    height:100%;
    margin:0 auto;
    position:relative;
    padding:15px;
    box-sizing:border-box;
}

#footer_head {
   /* float:left; */
    width:100%;

    position:relative;
}

/* Buttons position and size on footer. */
#footer_head .buttons_navigation {
    width:70%;
    display:inline-block;
    /*float:right;*/

    position:absolute;
    right:0px;
}


#footer_lists{
    margin:10px auto 0; 
    display:table;
}
.footer_list {
    display:table-cell;
    border-collapse:separate;
    border-spacing:0px;

    padding:5px 20px;
}
.footer_list>h3 {
    color:#fff;
    font:1.8em Lobster;
    text-decoration:underline;
}
.footer_list>ul {
    color:#fff;
    list-style-type:circle;
    margin:0 0 0 20px;
}
.footer_list>ul>li>a {
    display:block;
    color:#fff;
    margin:5px 0 0 0;
    text-decoration:none;
}
.footer_list>ul>li>a:hover {
    text-decoration:underline;
}


/* =========================
 * *** LOGO AND SLOGANS. ***
 * =========================
 */
#logo {
    display:inline-block;
    height:100%;
}

header>h1, header>h6 {
    font: 2em 'Lobster', cursive;
    color:#6F5092;
    text-shadow:2px 2px #fff; 
    display:inline-block;
    position:absolute;
    top:5px;
}
header>h6 {
    font: 1.2em 'Lobster', cursive;
    top:45px;
    padding:0 0 0 10px;
}

/* ------ WEATHER BLOCK ------ */
#weather_block {
    width:390px;
    height:100px;
    display:inline-block;
    position:absolute;
    right:60px;
    font: bold 1.4em/1.2em 'Comfortaa', cursive;
    color:gray;
}
#weather_block code {
    color: #ED3E4F;
}
#weather_block span {
    display:inline-block;
    margin-top:10px;
}
/* ------ WEATHER BLOCK END ------ */


/*======= FOOTER SOCIAL BUTTONS ======= */
#footer_social_buttons {
	text-align:center;
}
/*======= FOOTER SOCIAL BUTTONS END ======*/


/* ====== OLD EXPLORERS ======== */
#old_explorers {
    display:none;
}

/* ----- SEARCH RESULTS ----- */
#search_results {
    background:#fff;
    width:1024px;
    min-height:60px;
    background:#fff url(../pics/bgs/list_bg.png);
    padding:10px;
}
