body {
    background:url(../pics/bgs/ie_bg.jpg);
}

#main {
    display:none;
}

#footer_center {
    display:none;
}

#old_explorers {
    display:block;
    width:800px;
    height:300px;
    background-color: #fff;
    margin-left:auto;
    margin-right:auto;
    border: 2px solid #000;
    padding:15px;
    position:relative;
}


#old_explorers p {
    font: bold 28px Arial, sans-serif;
    margin-bottom:50px;
}
