/* ================
 * BOXES and DISHES
 * ================
 */
.boxes_dish {
    margin:8px auto;
    border:1px solid black;
    background-color:rgba(204, 204, 204,0.5);
    box-shadow: 0px 0px 15px 0px rgba(252,252,252,1);

    display:table;
    border-spacing:5px;
    border-collapse:separate;
}
.boxes_dish a {
    display:table-cell;
}
.boxes_dish a>em {  /* Hidden text on links. */
    font-size:0px;
    display:none;
}

.boxes_row {    /* New line of boxes. */
    display:table-row;
}

.box {
    height:244px;
    width:244px;
    border:2px solid black;
    box-shadow: 0px 0px 15px 0px rgba(252,252,252,1);

    position:relative;
}
.box>div {
    position:absolute;
    width:100%;
    height:30%;
    bottom:0;
    background:rgba(0,0,0,0.6);

    transition: height 1s;
}
.box>div>h2 { /* For two lines text. */
    color:#fff;
    text-align:center;
    font: bold 1.7em/1.2em 'Comfortaa', cursive;

    position:absolute;
    width:100%;
    top:0;
    transition: top 1s;
    
    margin-top:3px;
}
.box:hover div>h2 {
    text-decoration:underline;
    text-shadow: 0 0 20px #fff;
    top:20px;
}

.box:hover div {
    height:45%;
}
/******* DIFFERENT BOX TEXT **********/
.box>div>.short_box_text {
    font: bold 1.7em/2.4em 'Comfortaa', cursive ; 
}
.box>div>.long_box_text {
    /*font-size:1.3em;*/
    letter-spacing:-2px;
    font: bold 1.3em/1.6em 'Comfortaa', cursive ; 
}
.box>div>.middle_box_text {
    font: bold 1.6em/1.4em 'Comfortaa', cursive;
}
.empty_box {
    border:none;
    box-shadow:none;
}


/* HEADER of boxes section. */
.section_header {
    font: 38px 'Lobster', cursive;
    color:#6F5092;
    text-shadow:2px 2px #fff;
    
    background-color:rgba(204, 204, 204,0.5);

    border-top:1px solid #000;
    border-left:1px solid #000;
    border-right:1px solid #000;
    
    display:table-caption;
    padding:0px 0px 5px 30px;
}

/* Hidden div with contact information. */
#contacts_wrap, #order_form_wrap {
    visibility:hidden;
    opacity:0;
    position:fixed;
    top:20%;
    min-width:500px;
    border:3px solid #000;
    z-index:1;
    border-radius:8px;
    box-shadow:0px 0px 25px #fff;
    background:#fff url(../pics/bgs/list_bg.png);
    transition: opacity 0.5s ease-out;
    font: 18px 'Didact Gothic', sans-serif;
    padding:10px;
}
#contacts_wrap > button, #order_form_wrap > button {
    float:right;
}
#contacts_wrap > h3, #order_form_wrap > h3 {
    font: bold 20px 'Didact Gothic';
    margin-bottom:5px;
}
#contacts_wrap {
    left:35%;
    width:35%;
    height:300px;
}
#order_form_wrap {
    left:35%;
    width:570px;
    height:390px;
}
#order_form_wrap label{
    display:inline-block;
    width:150px;
}
#order_form_wrap label:nth-child(1), #order_form_wrap label:nth-child(4) {
    width:110px;
}


/* FIXED BUTTONS */
#fixed_buttons {
    position:fixed;
    top:30%;
    right:15px;

    z-index:1;
}
#fixed_buttons li {
    text-align:right;
    margin-bottom:6px;
}
#fixed_buttons li a {
    background:rgba(0,0,0, 0.4);
    font: 24px Lobster, 'sans-serif';
    box-shadow: 0px 0px 15px 0px rgba(252,252,252,1);
    text-decoration:none;
    color:#fff;
    padding:0 6px;
    border: 1px solid #fff;
    border-radius:5px;
}
#fixed_buttons li a:hover {
    cursor:pointer;
    text-decoration:underline;
}


/* BUTTONS ON ARTICLE */
.buttons_navigation>ul {
    width:100%;
    display:table;
    border-collapse:separate;
    border-spacing:2px;
}
.buttons_navigation>ul>li {
    display:table-cell;
}
.buttons_navigation>ul>li>a {
    display:block;
    height:40px;
    background-color:#6F5092;
    color:#fff;
    text-decoration:none;
    text-align:center;
    /*line-height:40px;*/
    border:1px solid #fff;
    overflow:hidden;
    font:bold 1.1em/2.4em Arial, 'sans-serif';
}
.buttons_navigation>ul>li>a:hover {
    box-shadow: 0px 0px 15px 0px rgba(252,252,252,1);
    background-color: #9b70cc;
}
/* =======================
 * Navigation buttons end. 
 * =======================
 */


/* ===== SCROLL BUTTONS ====== */
#scroll_buttons_wrap {
    position:fixed;
    top:50%;
    right:15px;
    width:80px;
    height:160px;
}
#scroll_buttons_wrap div {
    width:90%;
    height:80px;
    background-image:url(../../media/pics/arrows/new_arrows.png);
    background-size:cover;
    cursor:pointer;
}
#scroll_buttons_wrap div:last-child {
    background-position:0 80px;
}
#scroll_buttons_wrap div:hover {
    width:100%;
}
/* ===== SCROLL BUTTONS END ====== */



/* ------- LOADER BEGIN -------- */
#loader {
    position:absolute;
    z-index:100;
    width:100%;
    height:100vh;
    background-color:rgba(255,255,255, 0.7);
    background-image:url(../../media/pics/loading_cat.gif);
    background-position:center;
    background-repeat:no-repeat;
    transition: opacity 1s;
    border-bottom:10px dotted rgba(255,255,255, 0.4);
    background-clip:padding-box;
}
/* ------- LOADER END -------- */


/* #### SEARCH RESULTS ### */
.search_field {
    text-align:center;
    border:1px solid #6F5092;
    width:500px;
    margin:5px auto;
    font:bold 24px Arial;
    color:#6F5092;
}
.search_field:hover {
    background-color:#6F5092;
}
.search_field:hover a {
    color:#fff;
}
.search_field a {
    display:block;
    text-decoration:none;
}
/* ####################### */
