
<!-- ADD COMMENT FORM BEGIN -->

        <h2 class="comments_header">Оставить комментарий:</h2>

        <form id="add_comment" method="POST">
            <label>Ваше имя:</label>
            <input type="text" name="author_name" required />
            <br/>

            <label>Ваша почта:</label>
            <input type="email" name="author_postal" required />
            <br/>

            <label>Текст сообщения:</label>
            <textarea rows="10" cols="68" name="comment_text"></textarea>
            <input type="button" onclick="add_comment(${page_id})" value="Отправить" />
        </form>
 
<!-- ADD COMMENT FORM END-->

