
<!-- ARTICLE TOP TEMPLATE BEGIN -->

        <section id='article_wrap'>

            <h2>%s</h2> <!-- article title -->

            <div id='article_social_buttons'>
                <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus"></div>
            </div>

            <div id='article'> 


                <!-- TEXT BEGIN -->
                <div id='text_area'>%s</div>
                <!-- TEXT END -->


                <nav id='article_buttons'>
                    <ul>
                        <li><a class='bnt' href='./prices'>Цены</a></li>

                        <li>
                            <a onclick='toggleFrame("contacts_wrap")' class='bnt'>Контакты</a><!-- HIDDEN DIV wiht contacts. -->
                            <div id="contacts_wrap">    
                                <iframe src="./contacts"></iframe>
                            </div>
                        </li>

                        <li><a class='bnt' href='./for_tourists'>Памятка туриста</a></li>

                        <li>
                            <a onclick='toggleFrame("order_form_wrap")' class='bnt'>Заказать экскурсию</a>
                        </li>
                    </ul>
                </nav>


<!-- ARTICLE TOP TEMPLATE END-->
