
<!-- COMMENT TEMPLATE BEGIN -->

            <div id="article_comment">
                <span>${author}</span>
                <span>${date}</span>
                <hr/>
                <p>${text}</p>
            </div>
 
<!-- COMMENT TEMPLATE END-->

