
        <!-- Left menu -->
        <section id='menu_wrap'>

            <h6>Экскурсии в Сочи</h6>

            <ul>
                <li class='%(33fall)s'>		<a href='./33-vodopada'>33 <span class='boxes_font'>В</span>одопада</a></li>
                <li class='%(vol_dolmen)s'>	<a href='./volkonskij-dolmen'><span class='boxes_font'>В</span>олконский дольмен</a></li>
                <li class='%(agura)s'>		<a href='./agurskie-vodopady'>Агурские водопады</a></li>
                <li class='%(akhun)s'>		<a href='./gora-ahun'>Гора Ахун</a></li>
                <li class='%(dacha_stalina)s'>	<a href='./dacha-stalina'>Дача Сталина</a></li>
                <li class='%(night_akhun)s'>	<a href='./vecernij-ahun'><span class='boxes_font'>В</span>ечерний Ахун</a></li>
                <li class='%(vor_caves)s'>	<a href='./voroncovskie-pesery'><span class='boxes_font'>В</span>оронцовские пещеры</a></li>
                <li class='%(zm_fall)s'>	<a href='./zmejkovskie-vodopady'>Змейковские водопады</a></li>
                <li class='%(monkeys)s'>	<a href='./obezjannij-pitomnik'>Обезьяний питомник</a></li>
                <li class='%(zn_mon)s'>		<a href='./zenskij-monastyr'>Женский монастырь</a></li>
                <li class='%(okeanarium)s'>	<a href='./adlerskij-okeanarium'>Адлерский океанариум</a></li>
                <li class='%(delfinariy)s'>	<a href='./adlerskij-delfinarij'>Адлерский дельфинарий</a></li>
                <li class='%(tis_rocha)s'>	<a href='./tiso-samsitovaja-rosa'>Тисо-самшитовая роща</a></li>
                <li class='%(tea_house)s'>	<a href='./cajnye-domiki'>Чайные домики</a></li>
                <li class='%(olympic_park)s'>	<a href='./olimpijskij-park'>Олимпийский парк</a></li>
                <li class='%(love_lakes)s'>	<a href='./ozera-ljubvi'>Озёра любви</a></li>
                <li class='%(derevo_dr)s'>	<a href='./derevo-druzby'>Дерево дружбы</a></li>
                <li class='%(park_sochi)s'>	<a href='./park-sochi'>Парк Сочи</a></li>
                <li class='%(pasechnik)s'>	<a href='./v-gostjah-u-pasecnika'>В гостях у пасечника</a></li>
                <li class='%(oreh_fall)s'>	<a href='./orehovskie-vodopady'>Ореховские водопады</a></li>
                <li class='%(soloh)s'>		<a href='./soloh-aul'>Солох-Аул</a></li>
            </ul>

            <h6>Экскурсии на<br>Красной поляне</h6>
            
            <ul>
                <li class='%(polyana)s'>	<a href='./poselok-krasnaja-poljana'>Посёлок Красная поляна</a></li>
                <li class='%(forel_hos)s'>	<a href='./forelevoe-hozjajstvo'>Форелевое хозяйство</a></li>
                <li class='%(splav)s'>		<a href='./splav-po-mzymte'>Сплав по Мзымте</a></li>
                <li class='%(stekloduvy)s'>	<a href='./sou-stekloduvov'>Шоу стеклодувов</a></li>
                <li class='%(roza_hutor)s'>	<a href='./roza-hutor'>Роза Хутор</a></li>
                <li class='%(gorod_gorky)s'>	<a href='./gorod-gorki'>Горки Город</a></li>
                <li class='%(gornaya_karusel)s'><a href='./gornaja-karusel'>Горная карусель</a></li>
                <li class='%(schtany_fall)s'>	<a href='./vodopad-stany'><span class='boxes_font'>В</span>одопад "Штаны"</a></li>
                <li class='%(tears_fall)s'>	<a href='./vodopad-devici-slezy'><span class='boxes_font'>В</span>одопад "Девичьи слёзы"</a></li>
            </ul>

            <h6>Экскурсии в Абхазию</h6>

            <ul>
                <li class='%(riza_lake)s'>	<a href='./ozero-rica'>Озеро Рица</a></li>
                <li class='%(new_afon_mon)s'>	<a href='./novoafonskij-monastyr'>Новоафонский монастырь</a></li>
                <li class='%(afon_cave)s'>	<a href='./novoafonskaja-pesera'>Новоафонская пещера</a></li>
                <li class='%(gagra)s'>		<a href='./gagra'>Гагра</a></li>
                <li class='%(pitsunda)s'>	<a href='./picunda'>Пицунда</a></li>
                <li class='%(suhum)s'>		<a href='./suhum'>Сухум</a></li>
                <li class='%(hram_kananita)s'>	<a href='./hram-simona-kananita'>Храм Симона Кананита</a></li>
                <li class='%(holy_places)s'>	<a href='./po-svjatym-mestam'>По святым местам</a></li>
            </ul>

        </section>


