
        <!-- Left menu -->
        <section id='menu_wrap'>

            <h6>Отдых в Сочи</h6>

            <ul>
                <li class='%(dendrariy)s'>	<a href='./dendrarij'>Дендрарий</a></li>
                <li class='%(riviera)s'>	<a href='./park-rivera'>Парк Ривьера</a></li>
                <li class='%(festivalniy)s'>	<a href='./festivalnyj'>Фестивальный</a></li>
                <li class='%(akva_mayak)s'>	<a href='./akvapark-majak'>Аквапарк <q>Маяк</q></a></li>
                <li class='%(circus)s'>		<a href='./circus'>Цирк</a></li>
                <li class='%(blue_sea)s'>	<a href='./sinee-more'>Синее Море</a></li>
                <li class='%(plotforma)s'>	<a href='./plotforma'>PLOTFORMA</a></li>
            </ul>

            <h6>Отдых в Адлере</h6>
            
            <ul>
                <li class='%(shaiba)s'>		<a href='./sajba'>Шайба</a></li>
                <li class='%(bolshoy)s'>	<a href='./bolsoj'>Большой</a></li>
                <li class='%(iceberg)s'>	<a href='./iceberg'>Айсберк</a></li>
                <li class='%(adler_arena)s'>	<a href='./adler-arena'>Адлер-Арена</a></li>
                <li class='%(akva_amfibius)s'>	<a href='./akvapark-amfibius'>Аквапарк-Амфибиус</a></li>
                <li class='%(ostritch_farm)s'>	<a href='./strausinaja-ferma'>Страусиная ферма</a></li>
                <li class='%(ice_cube)s'>	<a href='./ledjanoj-kub'>Ледяной куб</a></li>
                <li class='%(adler_park)s'>	<a href='./adlerskij-park'>Адлерский парк</a></li>
            </ul>

            <h6>Отдых в Хосте</h6>

            <ul>
                <li class='%(silver_lake)s'>	<a href='./serebrjannoe-ozero'>Серебрянное озеро</a></li>
                <li class='%(promitey)s'>	<a href='./promitey'>К прометею</a></li>
                <li class='%(ch_vorota)s'>	<a href='./certovy-vorota'>Чертовы ворота</a></li>
                <li class='%(nv_canyon)s'>	<a href='./navalisenskoe-usele'>Навалищенское ущелье</a></li>
            </ul>


            <h6>Отдых на Красной поляне</h6>

	    <ul>
                <li class='%(volier)s'>		<a href='./volernyj-kompleks'>Вольерный комплекс</a></li>
                <li class='%(hmel_lakes)s'>	<a href='./hmelevskie-ozera'>Хмелевские озёра</a></li>
                <li class='%(ahsht_canyon)s'>	<a href='./ahstyrskij-kanon'>Ахштырский каньон</a></li>
            </ul>

    
            <h6>Лазаревский район</h6>

  	    <ul>
                <li class='%(akva_loo)s'>	<a href='./akva-loo'>Аква Лоо</a></li>
                <li class='%(banya_dagomys)s'>	<a href='./banja-v-dagomyse'>Баня в Дагомысе</a></li>
            </ul>


        </section>


