
        <!-- Left menu -->
        <section id='menu_wrap'>

            <h6>Центральный район</h6>

            <ul>
                <li class='%(morport)s'>	<a href='./morport'>Морской вокзал</a></li>
                <li class='%(quay)s'>		<a href='./primorskaja-nabereznaja'>Приморская набережная</a></li>
                <li class='%(lighthouse)s'>	<a href='./socinskij-majak'>Сочинский маяк</a></li>
                <li class='%(winter_theatre)s'>	<a href='./zimnij-teatr'>Зимний театр</a></li>
                <li class='%(anchor_gun)s'>	<a href='./pamjatnik-jakor-i-puska'>Памятник якорь и пушка</a></li>
                <li class='%(story_museum)s'>	<a href='./muzej-istorii-sochi'>Музей истории Сочи</a></li>
                <li class='%(pushkin_lib)s'>	<a href='./biblioteka-imeni-puskina'>Библиотека имени Пушкина</a></li>
                <li class='%(summer_theatre)s'>	<a href='./letnij-teatr'>Летний театр</a></li>
                <li class='%(art_museum)s'>	<a href='./hudozestvennyj-muzej'>Художественный музей</a></li>
                <li class='%(rail_station)s'>	<a href='./zeleznodoroznyj-vokzal'>Железнодорожный вокзал</a></li>
                <li class='%(brilliant_hand)s'>	<a href='./skulptury-iz-filma-brilliantovaja-ruka'>Бриллиантовая рука</a></li>
                <li class='%(vladimir_church)s'><a href='./cerkov-imeni-svjatogo-vladimira'>Церковь имени Святого Владимира</a></li>
                <li class='%(postal)s'>		<a href='./glavpoctampt'>Главпочтампт</a></li>
            </ul>

            <h6>Адлер</h6>
            
            <ul>
                <li class='%(airport)s'>		<a href='./mezdunarodnyj-aeroport'>Международный аэропорт</a></li>
                <li class='%(adler_rail_station)s'>	<a href='./adlerskij-zeleznodoroznyj-vokzal'>Адлерский железнодорожный вокзал</a></li>
                <li class='%(adler_lighthouse)s'>	<a href='./adlerskij-majak'>Адлерский маяк</a></li>
            </ul>

            <h6>Хоста</h6>

            <ul>
                <li class='%(matsesta_bridge)s'>	<a href='./macestinskij-most'>Мацестинский мост</a></li>
                <li class='%(matsesta)s'>		<a href='./macesta'>Мацеста</a></li>
                <li class='%(matsesta_monument)s'>	<a href='./pamjatnik-maceste'>Памятник мацесте</a></li>
                <li class='%(matsesta_source)s'>	<a href='./macestinskij-istocnik'>Мацестинский источник</a></li>
            </ul>


            <h6>Лазаревский район</h6>

	    <ul>
                <li class='%(tulip_tree)s'>	<a href='./tjulpanovoe-derevo'>Тюльпановое дерево</a></li>
                <li class='%(koshman)s'>	<a href='./usadba-kosmana'>Усадьба кошмана</a></li>
                <li class='%(dagomys)s'>	<a href='./kompleks-dagomys'>Комплекс Дагомыс</a></li>
            </ul>

    
        </section>


